body {
  font-family: 'Roboto Slab', serif;
  margin: 0; 
  background-color: #581845;
  }

h1 {
  color: white;
  font-size: 4em;
  padding: 2em;
  font-weight: 800;
  margin: 0;
  background-color: black;
  border-bottom: 1px dashed  #581845;
  text-align: center;
  background-image: url('https://static.pexels.com/photos/269633/pexels-photo-269633.jpeg');
  background-size: cover;
}

h2 {
  text-align:center;
}

h3 {
  color: #FF5733;
  margin-top: 90px;
  border-bottom: 1px dashed white;
  border-top: 1px dashed white;
  font-size: 4em;
  padding: 40px;
}

p {
  margin: 3em;
  color: #FF5733;
  padding-bottom: 50px;
  text-align: center;
  font-size: 1.3em;
}

main {
  margin: 0 auto;
  width: 70%;
}


img {
  height: 80%;
  background-color:black;
}

ul span{
  color:#FF5733;
}

:focus {
  outline: -webkit-focus-ring-color auto 0;
}

#countries {  
  background-color: #581845;
  list-style-type: none;
  color: white;
  line-height: 2em;
}

.form {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

#search {
  width: 10vw;
  height: 108px;
  border: none;
  vertical-align: middle;
  background-color: #FF5733;
  font-size: 1.4em;
  font-family: 'Roboto Slab', serif;
  color: white;
  cursor: pointer;
  margin: 20px -4px;
}

#search:hover {
  color: #FF5733;
  background-color: black;
}

#country-name{
  width: 55%;
  padding: 38px 25px;
  margin: 10px auto;
  font-size: 1.7em;
  color: #FF5733;
  vertical-align: middle;
  border: none;
}

input {
  border: 0px solid white;
}